

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


		/* Global */
		html{
			scroll-behavior: smooth;
		}
		body{
			width: 100%;
		}

		/* Nav bar */
		#nirvana-nav{
			padding: 0 16px;
		}
		.navbar-light .navbar-toggler{
			border-color: rgba(0, 0, 0, 0);
		}
		.navbar-expand-md .navbar-collapse{
			justify-content: flex-end;
		}
		.navbar ul.navbar-nav li {
		    text-align: center;
		}
		.navbar-brand{
			padding: 0;
		}
		.btn-custom{
			padding: 10px 12px;
			margin: 0 5px;
			border-radius: 100px;
			background-color: #FFBF05 !important;
			border-color: #FFBF05 !important;
			color: #FFFFFF !important;
		}
		.navbar-toggler:focus{
			outline: none;
		}

		/* Jumbotron section */
		.jumbotron{
			background-image: url("../img/jumbo/Yoga_jumbo.jpg");
			background-size: cover;
			background-attachment: scroll;
			background-position: center center;
			background-repeat: no-repeat;
			margin-bottom: 0;
		}
		.jumbo-content{
			margin-left: 5%;
		}
		.jumbo-heading{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 3em;
		}
		.jumbo-subheading{
			font-family: 'Playfair Display', serif;
			font-weight: 400;
			font-size: 2em;
			margin: 30px 0;
		}
		.nirvana-jumbo-btn{
			color: #fff;
			background-color: #c6d498;
			border-radius: 0;
			padding: 10px 40px;
			margin-bottom: 200px;
		}

		/* Main services section */
		.main-services{
			background-color: #f9f4f0;
			padding: 100px;
			text-align: center;
		}
		.main-services h2{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 2.5em;
		}
		.main-services h3{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 1.5em;
		}
		.three-main-services{
			margin-top: 50px;
		}
		.service-img{
			margin: auto auto;
			width: 200px;
			height: 200px;
			background-color: #f2f2f4;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin-bottom: 30px;
		}

		/* Our classes section */
		.our-classes{
			padding: 100px;
			text-align: center;
		}
		.our-classes h2{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 2.5em;
		}
		.our-classes h3{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 1.5em;
			margin: 15px auto;
		}
		.our-classes h4{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 1em;
			margin-bottom: 15px;
		}
		.our-classes p{
			font-family: 'Montserrat', sans-serif;
			color: grey;
			font-size: 16px;
		}
		.three-main-classes{
			align-items: center;
			margin-top: 50px;
		}
		.class-img{
			margin: auto auto;
			justify-content: space-around;
			margin-bottom: 20px;
		}

		/* Why Us section*/
		.why-us{
			background-color: #f9f4f0;
		}
		.why-us-cta{
			align-self: center;
			padding: 100px 60px;
		}
		.why-us-cta h2{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 2.5em;
			text-align: center;
			margin-bottom: 30px;
		}
		.why-us-cta p{
			width: 70%;
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
			margin: auto auto 30px auto;
		}
		.nirvana-btn{
			color: #fff;
			background-color: #c6d498;
			border-radius: 0;
			padding: 10px 40px;
		}
		.why-us-img img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		/* Other class info under why us section */
		.class-content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: #96d9c6;
			color: #fff;
			text-align: center;
			padding: 100px 60px;
		}
		.class-content h3{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 1.5em;
			margin-bottom: 30px;	
		}
		.class-content p{
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
		}
		.class-img{
			padding: 0;
			margin: 0;
		}
		.class-img img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		/* Out instructors section */
		.our-instructors{
			padding: 100px;
			text-align: center;
		}
		.our-instructors h2{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 2.5em;
		}
		.our-instructors h3{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 1.5em;
			margin: 15px auto;
		}
		.our-instructors p{
			font-family: 'Montserrat', sans-serif;
			color: grey;
			font-size: 16px;
		}
		.three-instructors{
			align-items: center;
			margin-top: 50px;
		}
		.instructor-img{
			margin: auto auto;
			justify-content: space-around;
			margin-bottom: 20px;
			border-radius: 50%;
		}

		/* Jumbotron section below the instructor section */
		.extra-jumbo img{
			width: 100%;
		}
		.extra-info{
			text-align: center;
		}
		.extra-info h4{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 1em;
			margin: 15px auto;
		}
		.extra-info p{
			font-family: 'Montserrat', sans-serif;
			color: grey;
			font-size: 16px;
		}
		.extra-container{
			align-items: center;
			padding: 0 30px;
			margin-top: -80px;
			margin-bottom: 100px;
		}
		.box{
			padding: 30px 20px;
			margin: 40px;
		}
		.extra-icon{
			margin: auto auto;
			justify-content: space-around;
			margin-bottom: 20px;
			border-radius: 50%;
		}

		/* Footer section */
		.footer-left p{
			margin-top: 24px;
			width: 50%;
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
		}
		.footer-social-icons img{
			margin: 30px 10px 10px 10px;
		}
		.footer-right{
			padding-top: 40px;
			text-align: center;
			color: #fff;
		}
		.footer-right h4{
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: 1em;
			margin-bottom: 15px;
		}
		.footer-right ul{
			list-style: none;
			padding: 0;
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
		}
		.footer-right p{
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
		}
		.footer-menu{
			margin-right: 24px;
		}

		/* For viewport width smaller than 800px */
		@media screen and (max-width: 800px) {
			.col-md-4{
				padding: 0;
			}
			.main-services{
				padding: 50px;
			}
			.service-1, .service-2, .service-3{
				margin-bottom: 30px;
			}
			.our-classes{
				padding: 50px;
			}
			.class-1, .class-2, .class-3{
				margin-bottom: 30px;
			}
			.why-us-cta p{
				width: 100%;
			}
			.our-instructors{
				padding: 50px;
			}
			.instructor-1, .instructor-2, .instructor-3{
				margin-bottom: 30px;
			}
			.footer-left, .footer-right{
				text-align: center;
			}
			.footer-right{
				margin-left: 24px;
			}
			.footer-left p{
				width: 100%;
			}
			.footer-social-icons{
				text-align: center;
			}
			.footer-menu{
				margin-right: 0px;
			}
		}